<!--The content below is only a placeholder and can be replaced.-->
<div>
  <form (submit) = "addNewTodo()">
    <div class="form-group">
      <input [{ngModel}] type="text" name="description" class="form-control" placeholder="CREA UN NUEVA TAREA">
    </div>
    <input type="submit" value="ADD TODO" class="btn btn-primary">
  </form>
  <ul class="list-group">
    <li class="list-group-item" [class.is-done]="todo.isDone" *ngFor="let todo of todos" (click)="todo.isDone = !todo.isDone" >
      {{todo.description}}
    </li>
  </ul>
</div>
